.footer {
    position:relative;
    bottom: 100;
    left: 0;
    width: 100%;
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}
